.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
    box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
}

.chartTitle{
    margin-bottom: 20px;
}