.widgetLr{
    flex: 2;
    -webkit-box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
    box-shadow: 5px -4px 34px -14px rgba(0,0,0,0.75);
    padding: 20px;
    margin-top: 20px;
}